body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

.btn, .btn:not(:hover) {
    background: #333333;
    color: white;
    margin-top: 15px;
    width: 100%;
}
.btn:hover:focus {
    background: #333333;
    color:  #F9690E;
    margin-top: 15px;   
}

label {
    margin-top: 10px;
}